<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="text/html">
        <style type="text/css">
            body, table { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt }
            th { text-align: center; color:#fff; background-color: #000;}
        </style>
        <title>Fichas Complementaria Virtual</title>
    
    </head>
    <body lang=ES>
        <div class="center">
            {% block texto %}
            {% endblock %}
        </div>
    </body>
</html>

