{% extends "base.html" %}
{% block texto %}

<p>
    Instructor<br>
    <b>{{ user.instructor }}</b><br>
    {{ user.email }}
</p>
<p>Asunto:<b>Alistamiento programas formación complementaria virtual</b></p>
<p>Cordial saludo, esperamos se encuentre muy bien,</p>
<p>De manera atenta agradecemos la gestión del alistamiento de las siguientes fichas:</p>
</div>
<div align=center>
    <table border="1" bordercolor="666633" cellpadding="1" cellspacing="0">
        <tr>
            <th width=76>
                <p><b>Ficha</b></p>
            </th>
            <th width=308>
                <p><b>Programa</b></p>
            </th>
            <th width=261>
                <p><b>Familia</b></p>
            </th>
            <th width=106>
                <p><b>Fecha Inicio</b></p>
            </th>
            <th width=106>
                <p><b>Fecha Fin</b></p>
            </th>
        </tr>

        {% for ficha in user.fichas %}

        <tr>
            <td width=76>
                <p align=center>{{ ficha[0] }}</p>
            </td>
            <td width=308>
                <p align=center>{{ ficha[1] }}</p>
            </td>
            <td width=261>
                <p align=center>{{ ficha[2] }}</p>
            </td>
            <td width=106>
                <p align=center>{{ ficha[3] }}</p>
            </td>
            <td width=106>
                <p align=center>{{ ficha[4] }}</p>
            </td>
        </tr>

        {% endfor %}

    </table>
</div>
<div>
    <p>Asimismo, recordar los ítems propios de la guía con su correspondiente lista de chequeo para la fase de
        Alistamiento.</p>
    <table border="1" bordercolor="666633" cellpadding="1" cellspacing="0" width=566>
        <tr>
            <th colspan=2>
                <h3>ALISTAMIENTO AMBIENTE DE FORMACIÓN</h3>
            </th>
        </tr>
        <tr>
            <td align=center width=75><b>1</b></p>
            </td>

            <td width=492>
                <p>
                    <font size="1pt">Se encuentra disponible para aprendices en el enlace<b><i>&nbsp;“Contenido del
                                Curso”</i></b>&nbsp;(según<b>&nbsp;Modelo de contenido</b>)&nbsp;el cronograma general
                        del programa con la siguiente información, conforme a lo establecido en la guía de orientaciones
                        actual:<br>
                        • Fechas de inicio y finalización de cada unidad temática.<br>
                        • Fecha y hora de las conferencias web por unidad temática.<br>
                        • Actividades de aprendizaje a realizar durante el desarrollo del programa.<br>
                        • Resultados de Aprendizaje (RAP) asociados a la unidad temática correspondiente.
                    </font>
                </p>
            </td>

        </tr>
        <tr>
            <td align=center width=75><b>2</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">Perfil del instructor. Se encuentra publicado y disponible para consulta de los
                        aprendices la siguiente información:<br>
                        • Formación profesional (información académica) y experiencia laboral conforme a lo establecido
                        en la guía de orientaciones actual.<br>
                        • Correo electrónico profesional.<br>
                        • Foto del instructor conforme a lo establecido en la guía de orientaciones actual.<br>
                        • Regional y Centro de Formación conforme a lo establecido en la guía de orientaciones
                        actual.<br>
                        • Horario de atención sincrónica, mínimo una (1) hora a la semana, el/los días(s) de atención,
                        ruta exacta y/o enlace para el ingreso.
                    </font>
                </p>
            </td>
        </tr>
        <tr>
            <td align=center width=75><b>3</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">Verifica y garantiza que todos los evidencias, pruebas/foros, se encuentren
                        disponibles para el trabajo del aprendiz y habilitados en su totalidad desde el inicio y hasta
                        el final de la formación, en concordancia con las fechas establecidas en el Sistema de Gestión
                        Académica,&nbsp;conforme a lo establecido en la guía de orientaciones actual.
                    </font>
                </p>
            </td>
        </tr>
        <tr>
            <td align=center width=75><b>4</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">Configura con una fecha límite de entrega, cada una de las evidencias, en
                        concordancia con las fechas establecidas en el cronograma del programa.
                    </font>
                </p>
            </td>
        </tr>
        <tr>
            <td align=center width=75><b>5</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">En el&nbsp;<b><i>&quot;Centro de Calificaciones&quot;</i></b>, asocia todas las
                        actividades y/o evidencias teniendo en cuenta lo estipulado en las guías de
                        aprendizaje-cronograma.
                </p>
            </td>
        </tr>
        <tr>
            <td align=center width=75><b>6</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">Configura para que el aprendiz encuentre disponible, desde el inicio de la
                        formación, como mínimo, los siguientes foros:<br>
                        •&nbsp;<b><i>“Foro de Dudas e Inquietudes”</i></b><br>
                        •&nbsp;<b><i>“Foro Social”</i></b><br>
                        • Temático(s)
                    </font>
                </p>
            </td>
        </tr>
        <tr>
            <td align=center width=75><b>7</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">Configura el Foro de Dudas e Inquietudes con fecha de inicio y finalización, de
                        acuerdo con las fechas establecidas en el Sistema de Gestión Académica.
                    </font>
                </p>
            </td>
        </tr>
        <tr>
            <td align=center width=75><b>8</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">Configura el Foro Social y Temático(s) propuesto(s) en el cronograma, con fecha de
                        inicio y finalización, conforme a lo establecido en la guía de orientaciones actual.
                    </font>
                </p>
            </td>
        </tr>
        <tr>
            <td align=center width=75><b>9</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">Máximo un (1) día calendario después de la fecha de inicio de la formación (fecha
                        establecida en el Sistema de Gestión Académica), registra la apertura del Foro Social, Dudas e
                        Inquietudes y Temático(s) conforme a lo establecido en la guía de orientaciones actual,
                        realizando la primera participación en el espacio&nbsp;<b><i>“Mensaje”
                    </font>
                </p>
            </td>
        </tr>
        <tr>
            <td align=center width=75><b>10</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">Máximo un (1) día calendario después de la fecha de inicio de la formación (fecha
                        establecida en el Sistema de Gestión Académica), publica en un anuncio la bienvenida al
                        programa, con la siguiente información:<br>
                        • Nombre exacto del programa de formación.<br>
                        • Número de ficha del programa.<br>
                        • Fecha de inicio y fin de la formación (fechas establecidas en el Sistema de Gestión
                        Académica).<br>
                        • Fecha fin de recepción de evidencias conforme a lo establecido en la guía de orientaciones
                        actual (esta información se publicará si la fecha fin de recepción de evidencias difiere a la
                        fecha fin de la formación).<br>
                        • Nombre del instructor.&nbsp;<br>
                        • Espacios internos de comunicación con el instructor.
                    </font>
                </p>
            </td>
        </tr>
        <tr>
            <td align=center width=75><b>11</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">Máximo un (1) día calendario después de la fecha de inicio de la formación (fecha
                        establecida en el Sistema de Gestión Académica), publica en un anuncio la apertura al programa,
                        con la siguiente información:<br>
                        • Ruta exacta de ubicación del cronograma de actividades.<br>
                        • Instrucciones al aprendiz sobre qué consultar de manera inicial.<br>
                        • Invitación al aprendiz a participar en el Foro Social.
                    </font>
                </p>
            </td>
        </tr>
        <tr>
            <td align=center width=75><b>12</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">Organiza en el enlace&nbsp;<b><i>“Contenido del Curso”</i></b>&nbsp;la
                        Carpeta&nbsp;<b><i>“Sesiones en Línea” /“Online <span>Sessions</span>”</i></b>,
                        carpeta&nbsp;<b><i>“Grabaciones Sesiones en Línea” /&quot;Web
                                <span>Conference</span><span>Recordings</span>&quot;</i></b>.&nbsp;<o:p></o:p></span>
                    </font>
                </p>
            </td>
        </tr>
        <tr>
            <td align=center width=75><b>13</b></p>
            </td>
            <td width=492>
                <p>
                    <font size="1pt">En la carpeta&nbsp;<b><i>“Sesiones en Línea”/“Online <span
                                    class=SpellE>Sessions</span>”</i></b>, carpeta&nbsp;<b><i>“Grabaciones Sesiones en
                                línea” /&quot;Web <span class=SpellE>Conference</span><span>Recordings</span>”</i></b>:
                        Publica la grabación de la conferencia web de bienvenida con su respectivo
                        resumen,&nbsp;conforme a lo establecido en la guía de orientaciones actual.<o:p></o:p></span>
                    </font>
                </p>
            </td>
        </tr>
    </table>
    <p>Reiteramos nuestro apoyo desde la Coordinación, por cualquier situación extraordinaria que se pueda presentar.
    </p>
    <p>Atentamente,</p>
    <br>

    <table>
        <tbody>
            <tr>
                <td style="width:147px;"><img data-imagetype="External"
                        src="https://www.sena.edu.co/es-co/Noticias/PublishingImages/mail/Logo-Firma-Email-SENAgray.png"
                        alt="Logo SENA">
                </td>
                <td valign="top" style="margin-top:0;padding-top:0;">
                    <div style="max-width:445px;margin-top:0;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:13px;padding:0;border-left:2px solid #E2E3E4;">
                                                        </td>
                                                        <td
                                                            style="text-align:left;vertical-align:top;width:339px;padding:0;">
                                                            <p
                                                                style="color:#39A900;font-size:20px;font-family:Work Sans;margin:0;padding:0;">
                                                                Leonardo Hernández Silva</p>
                                                            <p
                                                                style="color:#76777C;font-size:12px;font-family:Work Sans;margin:0;padding:0;letter-spacing:1px;">
                                                                Centro De Servicios Financieros - Profesional G10</p>
                                                            <p
                                                                style="color:#76777C;font-size:12px;font-family:Work Sans;margin:0;padding:0;letter-spacing:1px;">
                                                                lhernandezs@sena.edu.co</p>
                                                            <p
                                                                style="color:#76777C;font-size:12px;font-family:Work Sans;margin:0;padding:0;letter-spacing:1px;">
                                                                PBX:+(57) 601 5461500 Ext:</p>
                                                            <p
                                                                style="color:#76777C;font-size:12px;font-family:Work Sans;margin:0;padding:0;letter-spacing:1px;">
                                                                Cra. 13 #65-10</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:5px;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="margin-top:0;margin-right:0;">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:10px;padding:0;"></td>
                                                        <td style="width:20px;">
                                                            <table align="center" style="width:126px;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td><a href="https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.instagram.com%2Fsenacomunica%2F%3Fhl%3Des-la&amp;data=05%7C01%7Clhernandezs%40sena.edu.co%7C6e06178966254e13518d08db83bee785%7Ccbc2c3812f2e4d9391d1506c9316ace7%7C0%7C0%7C638248628199196686%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=Gj2mmZQpLErmh0UvMm6zICCw2h3dlNAqXe9IAP91ZL8%3D&amp;reserved=0"
                                                                                target="_blank"
                                                                                rel="noopener noreferrer"
                                                                                data-auth="Verified"
                                                                                originalsrc="https://www.instagram.com/senacomunica/?hl=es-la"
                                                                                shash="Utgby/zDyAmXZy1gRlgbjkEhZM3Y7om5fNwAFAyxyPRPJHOaOzP03pFi+6L0uJGi8aioAIIJvEDgmZ/UOrKstQxYdE8hB07aUSgYZXa4XSoceaiP60I7hQFI0pjQnjqL4lw/ccWHb9LIAFy8wtapCViT814nFjj6+2RE/8fHUUQ="
                                                                                title="Dirección URL original: https://www.instagram.com/senacomunica/?hl=es-la. Haga clic o pulse si confía en este vínculo."
                                                                                data-linkindex="0"><img
                                                                                    data-imagetype="External"
                                                                                    src="https://www.sena.edu.co/es-co/Noticias/PublishingImages/mail/03-instagramgray.png"
                                                                                    alt="instagram"></a></td>
                                                                        <td><a href="https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.facebook.com%2FSENA&amp;data=05%7C01%7Clhernandezs%40sena.edu.co%7C6e06178966254e13518d08db83bee785%7Ccbc2c3812f2e4d9391d1506c9316ace7%7C0%7C0%7C638248628199196686%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=ZQ%2Fr%2BzOhgsHqGWiWjQkMaasKf%2BeMRXsq0%2F41KjIBFo4%3D&amp;reserved=0"
                                                                                target="_blank"
                                                                                rel="noopener noreferrer"
                                                                                data-auth="Verified"
                                                                                originalsrc="https://www.facebook.com/SENA"
                                                                                shash="rJgAk1iVw7SPCiWnuR4svYFoSuVON1rXtd421jSSeTB2tuD9n+xIyQKtEpgVFuPQK/4Sktp/zUu/dNgtEuZtrzGpf1kVLiauTAZjeZzxgX1Oc+aktwZTzEufF6wB+ZkyGiOWFVyOG76SiOZJa8tn+nLOUDz48mWJGpsGTMxB7Yc="
                                                                                title="Dirección URL original: https://www.facebook.com/SENA. Haga clic o pulse si confía en este vínculo."
                                                                                data-linkindex="1"><img
                                                                                    data-imagetype="External"
                                                                                    src="https://www.sena.edu.co/es-co/Noticias/PublishingImages/mail/04-facebookgray.png"
                                                                                    alt="Facebook"></a></td>
                                                                        <td><a href="https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftwitter.com%2FSENAComunica&amp;data=05%7C01%7Clhernandezs%40sena.edu.co%7C6e06178966254e13518d08db83bee785%7Ccbc2c3812f2e4d9391d1506c9316ace7%7C0%7C0%7C638248628199196686%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=ZDad14RyDniw4sNjoLt5USZDoNJ8ov1SRGCl7C8ESHw%3D&amp;reserved=0"
                                                                                target="_blank"
                                                                                rel="noopener noreferrer"
                                                                                data-auth="Verified"
                                                                                originalsrc="https://twitter.com/SENAComunica"
                                                                                shash="xhfqEAuM8qKjI8HKFOU6ZF0CYgDAyY7sQUWgTuGad+VN0nyAlZuHfMX3oa2h+obipPdwFNpTytfSBgMQLD7ExnFnHhv4iROWmpTMMVLlBRG1Cp00/9J1O5ugLK/wOseHXbpi96oW6Szk68U2GkpMyxOTD4JOK9HvDmjezckM1NM="
                                                                                title="Dirección URL original: https://twitter.com/SENAComunica. Haga clic o pulse si confía en este vínculo."
                                                                                data-linkindex="2"><img
                                                                                    data-imagetype="External"
                                                                                    src="https://www.sena.edu.co/es-co/Noticias/PublishingImages/mail/05-twittergray.png"
                                                                                    alt="Twitter"></a></td>
                                                                        <td><a href="https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.youtube.com%2Fuser%2FSENATV&amp;data=05%7C01%7Clhernandezs%40sena.edu.co%7C6e06178966254e13518d08db83bee785%7Ccbc2c3812f2e4d9391d1506c9316ace7%7C0%7C0%7C638248628199196686%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=7NTPn16LSrtm9SGm80j0NJy00glL3S%2Bv%2FgWe1NIj0hE%3D&amp;reserved=0"
                                                                                target="_blank"
                                                                                rel="noopener noreferrer"
                                                                                data-auth="Verified"
                                                                                originalsrc="https://www.youtube.com/user/SENATV"
                                                                                shash="Lhb7lFEnw5+U6uqxIBQbMaWYjtV/aNQTyQj+j7RFT/wMGkSM6nalQ4IrQhmKjH6Q3s6UPmoC4NpWP3To8k9msR5ZZsqVw+LUgV6aELvd+Gmi8dQ5ip75HY+G1Uki/UlJfE8qC4fY4jaLJyk9PffwvzOQoxxMygrY8foGLYkXvA0="
                                                                                title="Dirección URL original: https://www.youtube.com/user/SENATV. Haga clic o pulse si confía en este vínculo."
                                                                                data-linkindex="3"><img
                                                                                    data-imagetype="External"
                                                                                    src="https://www.sena.edu.co/es-co/Noticias/PublishingImages/mail/06-youtubegray.png"
                                                                                    alt="Youtube"></a></td>
                                                                        <td><a href="https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.linkedin.com%2Fschool%2Fservicio-nacional-de-aprendizaje-sena-%2F&amp;data=05%7C01%7Clhernandezs%40sena.edu.co%7C6e06178966254e13518d08db83bee785%7Ccbc2c3812f2e4d9391d1506c9316ace7%7C0%7C0%7C638248628199196686%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=ZeFsgLPDOTVUorZftGONpAyi7b5Xq2UOPiArbw6VT5s%3D&amp;reserved=0"
                                                                                target="_blank"
                                                                                rel="noopener noreferrer"
                                                                                data-auth="Verified"
                                                                                originalsrc="https://www.linkedin.com/school/servicio-nacional-de-aprendizaje-sena-/"
                                                                                shash="wK3hzBRNPfSDuGiwwGteQZiYOJKNcdwpAlKrgJ4MeWKbkn2Vyv/Jq37xuF4Rnc0Io/TpfkD0hkwicI/5B2bOkngAWIwv5iBvftAAQQoWjDi6HdMOsvmL7j4LwGtvdbUrIrIUBst+svBySELGxGmOavO1jWyKzAvMlYt0Q3Khkw4="
                                                                                title="Dirección URL original: https://www.linkedin.com/school/servicio-nacional-de-aprendizaje-sena-/. Haga clic o pulse si confía en este vínculo."
                                                                                data-linkindex="4"><img
                                                                                    data-imagetype="External"
                                                                                    src="https://www.sena.edu.co/es-co/Noticias/PublishingImages/mail/09-ingray.png"
                                                                                    alt="Linkedin"></a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="8"><img data-imagetype="External"
                                                                                src="https://www.sena.edu.co/es-co/Noticias/PublishingImages/mail/07-redes.png"
                                                                                alt="Redes"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td style="width:165px;">
                                                            <p style="margin-top:0;margin-bottom:0;"><a
                                                                    href="https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.sena.edu.co%2Fes-co%2FPaginas%2Fdefault.aspx&amp;data=05%7C01%7Clhernandezs%40sena.edu.co%7C6e06178966254e13518d08db83bee785%7Ccbc2c3812f2e4d9391d1506c9316ace7%7C0%7C0%7C638248628199196686%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;sdata=KIabvLIyHFC3betmribw%2F4yOklvOrktLSaLGo014XUY%3D&amp;reserved=0"
                                                                    target="_blank" rel="noopener noreferrer"
                                                                    data-auth="Verified"
                                                                    originalsrc="https://www.sena.edu.co/es-co/Paginas/default.aspx"
                                                                    shash="DjsYn5cpvXI6vMNUdbqgWU7ayDOQP+VzMs/FD9I2FH+0PCm6jsxB1tJ1gOBqQ7S7TmWPshj0XfsoCcyAF/pWXqT4An2s8w/022TQu0OOe2fSotYa7Dp10kIS7QKSCfjqBWmqzjOZk1VO9b1UjoU15GJRK4uQ9Cn9ooJQz5A8IHw="
                                                                    title="Dirección URL original: https://www.sena.edu.co/es-co/Paginas/default.aspx. Haga clic o pulse si confía en este vínculo."
                                                                    data-linkindex="5"><img data-imagetype="External"
                                                                        src="https://www.sena.edu.co/es-co/Noticias/PublishingImages/mail/08-webgrey.png"
                                                                        align="top" alt="SENA">
                                                                </a></p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    {% endblock %}