{% extends "base.html" %}
{% block card %}
<div>
    
  <h3>Welcome {{user.instructor}}</h3>
  <p>your information is:</p>
  {% if user.show_information %}
  <ul>
    <li>Email: {{user.email}} </li>
    <li>Fichas: {{user.fichas | length}}</li>
    {% for ficha in user.fichas %}
      <ul>
        <li>{{ ficha[0] }}  y {{ ficha[1] }}</li>
      </ul>
    {% endfor %}
  </ul>
  {%else%}
  <p>{{user.instructor}} has not information</p>
  {% endif %}

  <a href="https://www.sena.edu.co" title="Ir al SENA">Go to home</a>
  </div>
  {% endblock %}